/.vscode
/Bio Link
/Bootstrap
/custom.css
/Download files
/embed
/gmain.ico
/happy_birthday
/Kudo Bot
/Kudophan-Writer-Code
/main.exe
/main.py
/portfolio
/Python
/qrcode-gen
/Steganography.py
/test.bat
/TIM
/time
/tk.py
/Web-thi-dua
/Web-thi-dua-local
/yeuhoa.html
/[J2TEAM] heart